.all {
  padding-top: 200px;
  /* background-image: url("../../../public/3.jpg"); */
  /* background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(); */
  /* padding-left: 100px;
  padding-bottom: 195px;
  height: 713px; */
}

.login1-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  border-radius: 10px;
  margin-top: 42px;
  position: absolute;
  background: #195b71;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
}

.login1-box .user-box {
  position: relative;
}

.login1-box .user-box .form__input {
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
  margin-top: 12px;
  border-radius: 12px;
  color: #000000;
  background-color: #fff;
  margin-bottom: 30px;
}

.image__login {
  
  transform: translate(0%,0%);

  width: 240px;
  margin-top: -30px;
  margin-right: 50px;
}

.login1-box .user-box .form-label {
  color: #ffffff;
  font-size: 14px;
  padding-left: 4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form button.btn_sen3 {
  height: 50px;
  width: 110px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.819);
  border: none;
  color: #195b71;
  padding-right: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

form button.btn_sen3:hover {
  color: #fff;
  background-color: #132c34dd;
}

.login1-box form {
  /* width: 90%; */
  /* background-color: #195b71; */
  padding: 58px;
  margin: -60px;
  border-radius: 12px;
}


.login1-box .btn_sen3 span {
  position: absolute;
  display: block;

}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.error {
  color: #f41010;
}

.login1-box .btn_send span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #195b71);
  animation: btn-anim1 2s linear infinite;
}
@media (max-width: 568px) {
  .login1-box {
   
    width: 90%;
   
  }
  .image__login {
    transform: translate(20%,0%);
  }
}