.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "";
  width: 100%;
}
.form-box {
  width: 1200px;
  height: 590px;
  background-color:rgba(23, 24, 29, 0.483);

  padding: 20px;

  border-radius: 2%;
}
@media (max-width: 991px) {
  .form-box {
    width: 500px;
    height: 590px;
    background-color:rgba(119, 146, 235, 0.053);
    padding: 20px;
    border-radius: 2%;
  }
}
.header-form {
  margin-bottom: 15px;
}
button {
  margin-top: 40px;
  margin-bottom: 10px;
}
.message {
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
}
.social {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.radio {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.radio .Sp {
  background-color: rgb(147, 147, 241);
  font-size: 22px;
  border-radius: 0px 5px 5px 5px;
  padding: 1px 8px;
  color: beige;
}
.radio .ch {
  padding: 10px;
}
.radio .ch1 {
  padding-right: 16px;
}
@media (max-width: 767px) {
  .form-box {
    width: 300px;
    height: 590px;
    background-color: rgb(91, 136, 176);
    padding: 20px;
    opacity: 90%;
    border-radius: 2%;

  }
  .form-control input {
    width: 400px;
  
  
  }
}
