.btn-all{
    display: inline-block;
    margin: 10px 0;
}
.btn-all .btn-now {
  color: white;
  padding: 13px 26px;
  background-color: #195B71;
  border-radius: 30px;
  
}
.btn-now:hover {
    background-color: #fff;
  color: #195B71;
  transition: 0.5s ease-in-out;
  /* box-shadow: 1px 1px 1px 1px #d08496 ; */
  border: 2px solid #195B71;
  transform: scale(1.1);
}
