.section-1 {
  background-image: url("../assets/7.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
}
.section-1 .heading {
  display: block;
  color: white;
  background-color: rgb(79, 83, 166);
  height: 250px;
  text-align: center;
  right: 0;
  padding: 24px;
  margin-left: -22px;
}
.section-1 .heading p {
  font-size: 18px;
}
.section-1 .block {
  display: flex;
  color: white;
  font-size: 22px;
  font-weight: 500;
  padding: 12px;
  height: 120px;
  margin-top: 25px;
  align-items: center;
}
.text {
  margin-left: 140px;
  text-align: center;
}
.text .Ihsa {
  display: block;
  padding: 12px;
  width: 200px;
}
@media (max-width:991px) {
    
   
      .section-1 .block {
        display: flex;
        color: white;
        font-size: 22px;
        font-weight: 500;
        padding: 12px;
        height: 120px;
        margin-top: 25px;
        align-items: center;
      }
      .text {
        margin-left: 0px;
        text-align: center;
      }
         
}
@media (max-width:767px) {
    
    .section-1 .block {
      display: flex;
      color: white;
      font-size: 22px;
      font-weight: 500;
      padding: 12px;
      height: 120px;
      margin-top: 25px;
      align-items: center;
    }
    .text {
      margin-left: -55px;
      text-align: center;
    }
       
}
